html, body{
  background-color: #000000;
  color: white;
  font-family: "Inter", sans-serif;
}
li, p{
  font-size: 0.7rem;
}

/* .skill-popup {
position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
} */
 .skill-popup::after {
  content: '';
  position: absolute;
  top: -10px; /* Position arrow below the box */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color:  transparent transparent #000000  transparent; /* Triangle pointing down */
}